export(dbpedia)
export(expenditures)
export(internalData)
export(resource)
export(twttr)
export(xsparql)
exportClasses(Dbpedia)
exportClasses(Evs)
exportClasses(InternalData)
exportClasses(Resource)
exportClasses(Twttr)
exportClasses(Xdata)
exportClasses(Xsparql)
exportMethods(as.character)
exportMethods(queries)
exportMethods(query)
exportMethods(show)
