export(be_bathing_areas)
export(be_bathing_water_quality)
export(build_pkg)
export(chk_pkg)
export(cityCoords)
export(datastore)
export(dbpedia)
export(eurostat)
export(expenditures)
export(figtarget)
export(gapminder)
export(gscholar)
export(internalData)
export(iwv_online)
export(localappdir)
export(mashup)
export(mauna_loa)
export(mdreport)
export(mem.info)
export(pkg)
export(resource)
export(sourceforge)
export(statsoft_popularity)
export(strcap)
export(strdecrypt)
export(strencrypt)
export(strhead)
export(strparse)
export(strrecode)
export(strsubst)
export(strtail)
export(swvreport)
export(texttarget)
export(tourdefrance)
export(twttr)
export(uconvlist)
export(urldata)
export(viz)
export(xsparql)
exportClasses(Blogger)
exportClasses(Dbpedia)
exportClasses(DirectoryLocation)
exportClasses(Evs)
exportClasses(FigureTarget)
exportClasses(Gapminder)
exportClasses(InternalData)
exportClasses(Location)
exportClasses(Mashup)
exportClasses(MdReport)
exportClasses(MemoryLocation)
exportClasses(PkgTarget)
exportClasses(Resource)
exportClasses(SweaveReport)
exportClasses(Target)
exportClasses(TextTarget)
exportClasses(Twttr)
exportClasses(UrlData)
exportClasses(Xdata)
exportClasses(Xsparql)
exportMethods(as.character)
exportMethods(build)
exportMethods(dbConnect)
exportMethods(dbReadTable)
exportMethods(dbWriteTable)
exportMethods(queries)
exportMethods(query)
exportMethods(scrape)
exportMethods(scrapes)
exportMethods(show)
exportMethods(uconv)
